#table-center-wrapper {
   display: flex;
   justify-content: center;
}

#table-center-background {
    background-image: url(img/table-center-night.jpg);
    background-size: 600px 200px;
    width: 600px;
    height: 200px;
    // background-size: 2717px 906px;
}